* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
#header-nav {
    background-color: #19caf6;
    border-radius: 0;
    border: 0;
  }
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand {
    padding-top: 15px;
}
.navbar-brand h1 { /* Restaurant name */
    color: #000000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
body {
    background-color: black;
}

#nav-list {
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
    color: blanchedalmond;
}

#nav-list a:hover {
    background-color: blanchedalmond;
    text-decoration: none;
}

#nav-list a {
    color: black;
}

h2 {
    color: #19caf6;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 5px;
}

#chicken-box {
    background-color: rgb(255, 208, 0);
    color: black;
    padding: 10px;
}

#beef-box {
    background-color: rgb(255, 123, 0);
    color: black;
    padding: 10px;
}

#sushi-box {
    background-color: rgb(241, 93, 255);
    color: black;
    padding: 10px;
}

.food-box {
    border: solid 1px blanchedalmond;
    margin-bottom: 15px;

}

.container {
    width: 100%;
}

.container-fluid {
    width: 90%;
}

#content-title {
    font-size: 1.3em;
    font-weight: bold;
}