* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

#ourmenu {
    text-align: center;
    margin-bottom: auto;
    font-size: 175%;
}

#container {
    width: 100%;
}

.menuItem {
    color: navy;
    padding: 5px;
    border: solid black 1px;
    font-size: 125%;
    
    text-align: center;
    width: 100px;
    position: absolute;
    top: -1px;
    right: -1px;
}

#menuone {
    background-color: rgb(201, 236, 41)
}

#menutwo {
    background-color: rgb(218, 138, 255);
}

#menuthree {
    background-color: rgb(212, 80, 107);
}
p {
    margin: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: cornflowerblue;
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    position: relative;
    overflow: hidden;
}




@media (min-width: 992px) {
    .bigBoy {
        float: left;
        width: 33.33%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .medBoy {
        float: left;
        width: 50%
    } 
    .bigBoy {
        float: left;
    }
}